<h1>コメントの詳細ページ</h1>
<h3>コメント詳細</h3>
<div class="comment">
    <p><%= @comment.content %></p>
    <p><%= @comment.created_at %></p>
</div>

<div class="reply-wrapper">
    <p>コメントのコメント一覧</p>
    <% @replies.each do |r| %>
        <div>
        <%= r.user.email unless r.user.blank? %>
        <br>
        <%= r.content %>
        </div>
        <br>
    <% end %>

    <% if user_signed_in? %>
        <%= form_with(model: [@picture, @comment, @reply], local: true) do |f| %>
            <%= f.text_area :content %>
            <%= button_tag type: "submit" do %>
                <i class="far fa-comments"></i> コメントする
            <% end %>
        <% end %>
    <% end %>
</div>

<%= link_to "戻る", picture_path(@comment.picture_id) %>


<div class="kinou-detail">
    <h2>このページに実装されている機能</h2>
    <div class="nakami">
        <h5>①コメントの詳細を表示する</h5>
        <p>
        この機能は<b>教材３－１３「詳細ページを表示しよう」</b>を参考に実装します。
        しかし、難しい点がいくつかあるため、コメントの詳細ページ表示を実装する記事を作ったため、そちらをご参照ください。
        記事は、<a href="https://qiita.com/Fu990628/items/ac017d8301d221f342fa">こちら</a>になります。
        </p>
    </div>
    <div class="nakami">
        <h5>②コメントに対してコメントしよう</h5>
        <p>
        この機能は<b>教材７章「投稿に対してコメントできるようにしよう」</b>を参考に実装します。
        教材を参考に自力で実装してみてください。
        しかし、難しい点がいくつかあるため、コメントに対しさらにコメントする機能を実装する記事を作ったため、そちらをご参照ください。
        記事は、<a href="https://qiita.com/Fu990628/items/9394a01fbabe0059a2ad">こちら</a>になります。
        </p>
    </div>
<div>