<%= stylesheet_link_tag "hello", :media => "all" %>

<h1>Geek受講生向け機能紹介サイト</h1>

<%= link_to "マップ", maps_path %>
<%= link_to "診断", new_post_path %>

<div class="slider">
    <div class="slider__content"><img src="../../../assets/pro1.jpg"  alt="slider_image1" class="slider__img"></div>
    <div class="slider__content"><img src="../../../assets/pro2.jpg" alt="slider_image2" class="slider__img"></div>
    <div class="slider__content"><img src="../../../assets/pro3.jpg"  alt="slider_image         3" class="slider__img"></div>
</div>

<div class="kinou-detail">
    <h2>このページに実装されている機能</h2>
    <div class="nakami">
        <h5>①写真が自動的にスライドされながら表示される</h5>
        <p>
        この機能は<b>カルーセル（Carousel）</b>と呼ばれています。
        「HTML CSS カルーセル」などと検索すると実装するための記事がたくさん出てきます。
        ちなみに私が利用した記事は<a href="https://dubdesign.net/download/html-css/htmlcss-slider/">これ</a>です。
        </p>
    </div>
<div>

<br/>
<br/>
<br/>
<br/>
<br/>


<%= link_to "言葉を投稿する", new_word_path %>
<%= link_to "言葉一覧", words_path %>