<%= stylesheet_link_tag "users", :media => "all" %>
<%= stylesheet_link_tag "application", :media => "all" %>

<h1>ユーザーマイページ</h1>

<%= render 'relationships/follow_button', user: @user %>

<div class="base-info">
  <div class="user-info">
    <%= image_tag @user.image_url, size: "120x120" ,class:"topimage2" if @user.image? %>
  <h1><%= @user.name %></h1>
  </div>
  <p>メールアドレス : <%= @user.email %></p>
  <p>プロフィール : <%= @user.profile %></p>
  <%= link_to user_following_path(id: @user.id) do %>
    <span><%= @user.followings.count %>フォロー</span>
  <% end %>
  <%= link_to user_follower_path(id: @user.id) do %>
    <span><%= @user.followers.count %>フォロワー</span>
  <% end %>
  <br/>
  <%= link_to user_picture_path(id: @user.id) do %>
    <span>投稿数：<%= @user.pictures.count %></span>
  <% end %>
  <%= link_to user_like_picture_path(id: @user.id) do %>
    <span>いいね数：<%= @user.likes.count %></span>
  <% end %>
  <%= link_to "フォロワーの投稿", user_favorite_picture_path(id: @user.id) %>
</div>

<%= render partial: "notifications/index" %>

<table>
  <tr>
    <th>＼</th>
    <th>長所</th>
    <th>短所</th>
    <th>性格</th>
  </tr>
  <tr>
    <td>いいね</td>
    <td><%= @user.depth1 %></td>
    <td><%= @user.depth2 %></td>
    <td><%= @user.depth3 %></td>
  </tr>
  <tr>
    <td>もうすこし</td>
    <td><%= @user.depth4 %></td>
    <td><%= @user.depth5 %></td>
    <td><%= @user.depth6 %></td>
  </tr>
  <tr>
    <td>がんばろう</td>
    <td><%= @user.depth7 %></td>
    <td><%= @user.depth8 %></td>
    <td><%= @user.depth9 %></td>
  </tr>
  <tr>
    <td>だめ</td>
    <td><%= @user.depth10 %></td>
    <td><%= @user.depth11 %></td>
    <td><%= @user.depth12 %></td>
</tr>
</table>


<% if current_user.id == @user.id %>
  <%= link_to "編集する", edit_user_registration_path %>
    <% else %>

    <% if @isRoom == true %>
      <p><a href="/rooms/<%= @roomId %>">チャットへ</a>
    <% else %>
      <%= form_for @room do |f| %>
        <%= fields_for @entry do |e| %>
          <%= e.hidden_field :user_id, :value=> @user.id %>
      <% end %>
      <%= f.submit "チャットを始める" %>
    <% end %>
<% end %>

<% end %>

<div class="kinou-detail">
    <h2>このページに実装されている機能</h2>
    <div class="nakami">
        <h5>①ユーザー画像を丸く表示し、画像の縮尺を整える</h5>
        <p>
        この機能は<b>border-radius</b>を用いることで実装しています。
        参考となる記事は、<a href="https://qiita.com/mam-e/items/1d2be069a5d2190ec505">こちら</a>になります。
        </p>
    </div>
    <div class="nakami">
        <h5>②表の導入</h5>
        <p>
        この機能は<b>「HTML CSS 表」</b>などと検索すると出てきます。
        私が使用した記事は、<a href="https://webliker.info/75964/">こちら</a>になります。
        </p>
    </div>
    <div class="nakami">
        <h5>③他のユーザーにDMを送る機能</h5>
        <p>
        この機能は<b>DM機能</b>と呼ばれています。
        DM機能実装にはモデル（テーブル）を複数用意する必要があり、実装にミスが多めになります。
        ちなみにＤＭ機能の記事は、<a href="https://qiita.com/nojinoji/items/2b3f8309a31cc6d88d03">こちら</a>になります。
        </p>
    </div>
    <div class="nakami">
        <h5>④他のユーザーをフォローする機能</h5>
        <p>
        この機能は<b>フォロー機能</b>と呼ばれています。
        実装のための記事は、<a href="https://qiita.com/mitsumitsu1128/items/e41e2ff37f143db81897">こちら</a>になります。
        </p>
    </div>
    <div class="nakami">
        <h5>①自分の投稿へのいいね・コメント、自分へのフォローがなされた場合に通知が届く機能</h5>
        <p>
        この機能は<b>通知機能</b>と呼ばれています。
        コメント、いいね、フォロー以外にも、DM、フォロワーの投稿などに対する通知機能も頑張れば実装できます。
        私が利用した記事は<a href="https://qiita.com/nekojoker/items/80448944ec9aaae48d0a">こちら</a>になります。
        かなり丁寧に書いてくださっているのですが、途中Geek受講生だとわかりにくい部分（Slimファイルの部分など）が出てくると思うので、
        担当メンターさんに見てもらいながら実装していきましょう。
        ちなみにですが、Slimに関するわかりやすい記事は
        <a href="https://qiita.com/pugiemonn/items/b64171952d958dc4d6be">こちら</a>になります。
        </p>
    </div>
<div>