<%= link_to "言葉を投稿する", new_word_path %>

<h2>ハッシュタグ #<%= @tag.hashname %></h2>
<ul>
    <% @words.each do |w| %>
    <li>
        <%= link_to word_path(w.id) do %>
        ああ
        <% end %>
        <div>
        季節：<%= render_with_hashtags(w.season) %>
        言葉：<%= w.word %>
        （<%= w.reading %>）
        <br/>
        <%= w.detail %>
    </div>
    </li>
    <% end %>
</ul>