<div class="col-xs-6 col-sm-4 col-md-3 picture-container">

    <div class="contributer">
        <%= link_to user_path(t.user.id) do %>
            <%= image_tag t.user.image_url, size: "60x60" ,class:"topimage" if t.user.image? %>
        <% end %>
        <%= link_to user_path(t.user.id) do %>
            <h3 class="contributername" ><%= t.user.name %></h3>
        <% end %>
    </div>

    <h2><%= t.title.truncate(8) %></h2>

    <% if t.image? %>
        <h4>写真</h4>
        <div data-toggle="modal" data-target=".bd-example-modal-lg-<%= t.id %>" >
            <%= image_tag t.image_url, size: "256x144", class:"click" %>
        </div>
    <% end %>

    <% if t.youtube_url? %>
        <h4>動画</h4>
        <iframe width="250" height="140" src="https://www.youtube.com/embed/<%=t.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
    <% end %>

    <% if t.video? %>
        <%=  video_tag t.video_url ,:controls => true if t.video?%>
    <% end %>

    <%= t.body.truncate(17) %>

    </br>

    <div class="toukou-object">
        <div id="likes_buttons_<%= t.id %>" class="click inline1">
            <%= render partial: 'likes/like', locals: { picture: t } %>
        </div>

        <div class="click inline1" data-toggle="modal" data-target="#exampleModal-comment-<%= t.id %>" >
            <i class="far fa-comments click" ></i><%= t.comments.count %>
        </div>

        <div class="inline1" data-toggle="modal" data-target="#exampleModal-tag-<%= t.id %>" >
            <i class="fas fa-tags click"></i><%= t.tags.count %>
        </div>

        <div class="click inline1">
            <%= link_to picture_path(t.id) do %>
                <i class="far fa-eye inline1"></i><%= t.impressions_count %>
            <% end %>
        </div>

        <% if user_signed_in? && current_user.id == t.user_id %>  
            <div class="click inline1">
                <%= link_to  edit_picture_path(t.id) do %>
                    <i class="fas fa-pen"></i>
                <% end %>
            </div>

            <div class="click inline1">
                <%= link_to picture_path(t.id), method: :delete, data: { confirm: "投稿を削除しすか？" }, remote: true do %>
                    <i class="fas fa-trash-alt"></i>
                <% end %>
            </div>
        <% end %>
    </div>

    <div>
        <span class="star-rating">
        <span class="star-rating-front" style="width: <%= getPercent(t.level) %>%;">★★★★★</span>
        <span class="star-rating-back">★★★★★</span>
        </span>
    </div>

    <time datetime="<%= t.created_at %>">
        <%= time_ago_in_words(t.created_at) %>前
    </time>

</div>

<div class="modal fade bd-example-modal-lg-<%= t.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content image-modal">

            <div>
                <%= image_tag t.image_url, size: "528x297" %>
            </div>
            <div class="modal-body">
                <div class="contributer">
                    <%= link_to user_path(t.user.id) do %>
                        <%= image_tag t.user.image_url, size: "60x60" ,class:"topimage" if t.user.image? %>
                    <% end %>
                    <%= link_to user_path(t.user.id) do %>
                        <h3 class="contributername" ><%= t.user.name %></h3>
                    <% end %>
                </div>
                <%= t.body.truncate(73) %></br>
                <div class="modal-link">
                    <h4>
                    <%= link_to "詳細", picture_path(t.id) %>
                    <% if user_signed_in? && current_user.id == t.user_id %>  
                        |<%= link_to "編集", edit_picture_path(t.id) %>
                        |<%= link_to "削除", picture_path(t.id), method: :delete %>
                    <% end %>
                    </h4>
                </div>
            </div>

        </div>
    </div>
</div>

<% if user_signed_in? %>
    <%= form_with(model: [t, @comment], local: true) do |f| %>

        <div class="modal fade" id="exampleModal-comment-<%= t.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">コメントフォーム</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        
                        <%= f.text_area :content,size:"54x3" %>

                    </div>
                    <div class="modal-footer">
                        <%= f.label :画像 %>
                        <%= f.file_field :image %>                        
                        <%= button_tag type: "submit" do %>
                            <i class="far fa-comments"></i>コメント
                        <% end %>
                    </div>
                </div>
            </div>
        </div>

    <% end %>
<% end %>


<div class="modal fade" id="exampleModal-tag-<%= t.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">この投稿のタグ一覧</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
            <% t.tags.each do |tag| %>
                <span><%= tag.tag_name %>|</span>
            <% end %>

            </div>
            <div class="modal-footer">                       
                <%= link_to "投稿詳細をみる", picture_path(t.id) %>    
            </div>
        </div>
    </div>
</div>