<%= stylesheet_link_tag "pictures", :media => "all" %>

<div class="show-wrapper">

  <div class="show-content">
      <h2><%= @picture.title %></h2>
      <% if @picture.image? %>
        <%= image_tag @picture.image_url, size: "500x400" %>
      <% end %>

      <% if @picture.youtube_url? %>
          <iframe width="500" height="280" src="https://www.youtube.com/embed/<%= @picture.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
      <% end %>
      <br/>

      <%= Rinku.auto_link(@picture.body, :all, 'target="_blank"').html_safe %>

      <br/>

      タグ：
      <% @picture.tags.each do |tag| %>
        <span><%= tag.tag_name %></span>
      <% end %>

      </br>

      <div class="toukou-object">
          <div id="likes_buttons_<%= @picture.id %>" class="click inline1">
              <%= render partial: 'likes/like', locals: { picture: @picture } %>
          </div>

          <% if user_signed_in? && current_user.id == @picture.user_id %>  
              <div class="click inline1">
                  <%= link_to  edit_picture_path(@picture.id) do %>
                      <i class="fas fa-pen"></i>
                  <% end %>
              </div>

              <div class="click inline1">
                  <%= link_to picture_path(@picture.id), method: :delete, data: { confirm: "投稿を削除しますか？" }, remote: true do %>
                      <i class="fas fa-trash-alt"></i>
                  <% end %>
              </div>
          <% end %>
      </div>
      </br>
      <time datetime="<%= @picture.created_at %>">
        <%= time_ago_in_words(@picture.created_at) %>前
        <%= @picture.created_at.to_s(:datetime_jp) %>
      </time>
      
  </div>

  <div class="comment-wrapper">

    <div class="comment-show">
      <p class="comment-push">コメント一覧</p>
      <% @comments.each do |c| %>
        <div class="comentop">
          <div class="contributer">
              <%= link_to user_path(c.user.id) do %>
                  <%= image_tag c.user.image_url, class:"topimage5" if c.user.image? %>
              <% end %>
              <%= link_to user_path(c.user.id) do %>
                  <h6 class="contributername" ><%= c.user.name unless c.user.blank? %></h6>
              <% end %>
          </div>
          <div class="comment-button">
            <%= link_to comment_path(c.id) do %>
              <i class="far fa-eye"></i>
            <% end %>
            <% if user_signed_in? && current_user.id == c.user_id %> 
              <%= link_to picture_comment_path(@picture.id, c.id), method: :delete, data: { confirm: "コメントを削除しますか？" } do %>
                <i class="fas fa-trash-alt button2"></i>
              <% end %>
            <% end %>
          </div>
        </div>

          <div class='arrow_box'>
              <%= c.content %>
              <%= image_tag c.image_url, size: "250x200" if c.image? %>
          </div>
        <br>
      <% end %>
    </div>

    <div class="comment-push">
      <% if user_signed_in? %>
        <%= form_with(model: [@picture, @comment], local: true) do |f| %>
          <div class="modal-body">
            <%= f.text_area :content,size:"54x3" %>
          </div>
          <div>
            <%= f.label :コメント画像 %>
            <%= f.file_field :image %>  
            <%= button_tag type: "submit" do %>
              <i class="far fa-comments"></i> コメントする
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>

</div>

<div class="kinou-detail">
    <h2>このページに実装されている機能</h2>
    <div class="nakami">
        <h5>①コメントの詳細を表示する</h5>
        <p>
        この機能は<b>教材３－１３「詳細ページを表示しよう」</b>を参考に実装します。
        教材を参考に自力で実装してみてください。
        しかし、難しい点がいくつかあるため、コメントの詳細ページ表示を実装する記事を作ったため、そちらをご参照ください。
        記事は、<a href="https://qiita.com/Fu990628/items/ac017d8301d221f342fa">こちら</a>になります。
        </p>
    </div>
<div>