<h1>GeekInstagram</h1>


    <h2><%= @picture.title %></h2>
    <% if @picture.image? %>
        <h4>出来上がり</h4>
            <%= image_tag @picture.image_url, size: "500x400" %>
    <% end %>

    <% if @picture.youtube_url? %>
        <h4>料理動画</h4>
        <iframe width="500" height="280" src="https://www.youtube.com/embed/<%= @picture.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
    <% end %>
    <br/>

    <%= @picture.body %>

    <br/>

    タグ：
    <% @picture.tags.each do |tag| %>
      <span><%= tag.tag_name %></span>
    <% end %>

    </br>

    <% if user_signed_in? %>
        <% if current_user.already_liked?(@picture) %>
            <%= link_to picture_like_path(id: @picture.id, picture_id: @picture.id), method: :delete do %>
                <i class="fas fa-heart"></i>×<%= @picture.likes.count %>
            <% end %>
        <% else %>
            <%= link_to picture_likes_path(id: @picture.id, picture_id: @picture.id), method: :post do %>
                <i class="far fa-heart"></i>×<%= @picture.likes.count %>
            <% end %>
        <% end %>
    <% else %>
        <%= @picture.likes.count %>
    <% end %>

    閲覧回数：
    <%= @picture.impressions_count %>回

    </br>

    <time datetime="<%= @picture.created_at %>">
      <%= time_ago_in_words(@picture.created_at) %>前
      <%= @picture.created_at.to_s(:datetime_jp) %>
    </time>  
    
    <br />

    <% if user_signed_in? && current_user.id == @picture.user_id %>  
        <%= link_to "編集する", edit_picture_path(@picture.id) %>
        <%= button_to "削除する", picture_path(@picture.id), method: :delete %>
    <% end %>


<h2>いいねしたユーザー</h2>
<% @picture.liked_users.each do |user| %>
  <li><%= user.name %></li>
<% end %>

<div class="comment-wrapper">

  <p>コメント一覧</p>
  <% @comments.each do |c| %>
    <div>
      <%= c.user.name unless c.user.blank? %>
      <br>
      <%= c.content %>
      <%= image_tag c.image_url, size: "250x200" if c.image? %>
      <br>
      <%= link_to "詳細へ", comment_path(c.id) %>
      <% if user_signed_in? && current_user.id == c.user_id %> 
        <%= button_to "削除する", picture_comment_path(@picture.id, c.id), method: :delete %>
      <% end %>
    </div>
    <br>
  <% end %>

  <% if user_signed_in? %>
    <%= form_with(model: [@picture, @comment], local: true) do |f| %>

      <div class="modal-body">
          
        <%= f.text_area :content,size:"54x3" %>

      </div>
      <div class="modal-footer">
        <%= f.label :コメント画像 %>
        <%= f.file_field :image %>  
        <%= button_tag type: "submit" do %>
          <i class="far fa-comments"></i> コメントする
        <% end %>

    <% end %>
  <% end %>

</div>

<div class="kinou-detail">
    <h2>このページに実装されている機能</h2>
    <div class="nakami">
        <h5>①コメントの詳細を表示する</h5>
        <p>
        この機能は<b>教材３－１３「詳細ページを表示しよう」</b>を参考に実装します。
        教材を参考に自力で実装してみてください。
        しかし、難しい点がいくつかあるため、コメントの詳細ページ表示を実装する記事を作ったため、そちらをご参照ください。
        記事は、<a href="https://qiita.com/Fu990628/items/ac017d8301d221f342fa">こちら</a>になります。
        </p>
    </div>
<div>