<!DOCTYPE html>
<html>
  <head>
    <title>まる。の実験台</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
  </head>

  <body>
    <header>

        <input id="menu-cb" type="checkbox" value="off">
        <label id="menu-icon" for="menu-cb"></label>
        <div id="ham-menu">
          <ul class="header-items-sp">
            <li class="header-item-sp">Home</li>
            <li class="header-item-sp"><%= link_to 'Java実験台', hello_javatest_path %></li>
            <li class="header-item-sp"><%= link_to 'HTML実験台', hello_htmltest_path %></li>
            <li class="header-item-sp"><%= link_to "マップ", maps_path %></li>
            <li class="header-item-sp"><%= link_to "問い合わせ", new_contact_path %></li>
          </ul>
        </div>

      <div id="header-list", onmouseover="mouseover();" >

        <ul>
          <div>
            <li>
              <%= link_to root_path do %>
                <h1>まる。の実験台１</h1>
              <% end %>
            </li>
          </div>
          <div><li><%= link_to 'トップページ', root_path %></li></div>
          <% if not user_signed_in? %>
            <div><li><%= link_to "ログイン", pictures_path %></li></div>
            <div><li><%= link_to "新規登録", new_user_registration_path %></li></div>
          <% end %>
          <% if user_signed_in? %>
            <div><li><%= link_to "投稿一覧", pictures_path %></li></div>

            <% if current_page?(pictures_path) or current_page?(picture_liked_path) or current_page?(picture_viewed_path) or current_page?(picture_commented_path) %>
              <div><li><button class="open" data-toggle="modal" data-target="#exampleModal">
                新規投稿
              </button></li></div>
            <% end %>

            <div><li><%= link_to "マイページ", user_path(current_user.id) %></li></div>
            <div><li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li></div>
          <% end %>
        </ul>

      </div>

      <div id="header-list2", onmouseleave="mouseleave();">

        <ul>
          <div>
            <li>
              <%= link_to root_path do %>
                <h1>まる。の実験台２</h1>
              <% end %>
            </li>
          </div>
          <div>
            <li><%= link_to 'トップページ', root_path %></li>
          </div>
          <% if not user_signed_in? %>
            <div>
              <li><%= link_to "ログイン", pictures_path %></li>
            </div>
            <div>
              <li><%= link_to "新規登録", new_user_registration_path %></li>
            </div>
          <% end %>
          <% if user_signed_in? %>
            <div>
              <li><%= link_to "投稿一覧", pictures_path %></li>
              <li><%= link_to "新しい順", pictures_path %></li>
              <li><%= link_to "いいね順", picture_liked_path %></li>
              <li><%= link_to "閲覧数順", picture_viewed_path %></li>
            </div>

            <% if current_page?(pictures_path) or current_page?(picture_liked_path) or current_page?(picture_viewed_path) or current_page?(picture_commented_path) %>
              <div>
                <li><button class="open" data-toggle="modal" data-target="#exampleModal">
                  新規投稿
                </button></li>
              </div>
            <% end %>

            <div>
              <li><%= link_to "マイページ", user_path(current_user.id) %></li>
            </div>
            <div>
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            </div>
          <% end %>
        </ul>

      </div>

      <script>
        document.getElementById("header-list2").style.display="none";
        const p1 =document.getElementById("header-list");
        const p2 =document.getElementById("header-list2");

        function mouseleave(){

        p1.style.display = "block";
        p2.style.display = "none";
        }

        function mouseover(){

        p1.style.display = "none";
        p2.style.display = "block";
        }
      </script>

    </header>

    <main>
      <%= yield %>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </main>

    <footer>
      <div>
        <%= link_to "https://twitter.com/share?url=#{request.url}/&text=GeekInstagramがすごい！/&hashtags=GeekSalon", title: 'Twitter', target: '_blank' do %>
          <h2><i class="fab fa-twitter"></i></h2>
        <% end %>
      </div>
      <div>Copyright © GeekSalon All Rights Reserved.</div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

</html>