<!DOCTYPE html>
<html>
  <head>
    <title>機能紹介</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
  </head>

  <body>
    <header>

      <div class="headbtn" id="header-list", onmouseover="mouseover();" >

          <div>
            <h1>サイト</h1>
          </div>
          <div>
            <%= link_to 'トップ', root_path, class:"open" %>
          </div>
          <div>
            <%= link_to 'サイトの使い方', hello_detail_path, class:"open" %>
          </div>
          <% if not user_signed_in? %>
            <div>
              <%= link_to "ログイン", pictures_path,class:"open" %>
            </div>
            <div>
              <%= link_to "新規登録", new_user_registration_path, class:"open" %>
            </div>
          <% end %>

          <% if user_signed_in? %>
            <div>
              <%= link_to "投稿一覧", pictures_path, class:"open" %>
            </div>
            <% if current_page?(pictures_path) or current_page?(picture_liked_path) or current_page?(picture_viewed_path) or current_page?(picture_commented_path) %>
                <div class="open click" data-toggle="modal" data-target="#exampleModal">
                  新規投稿
                </div>
            <% end %>
            <div>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"open", data: { confirm: "ログアウトしすか？" } %>
            </div>
            <div>
              <%= link_to "チャット", users_path, class:"open" %>
            </div>
            <%= link_to user_path(current_user.id) do %>
              <% if unchecked_notifications.any? %>
                <div class="contributer3">
                    <%= image_tag current_user.image_url, class:"topimage3" if current_user.image? %>
                    <h4 class="contributername"><%= current_user.name %></h4>
                    <h6>さん</h6>
                </div>
                <i class="far fa-bell tuti"></i>
              <% else %>
                <div class="contributer3">
                  <%= image_tag current_user.image_url, class:"topimage3" if current_user.image? %>
                  <h4 class="contributername" ><%= current_user.name %></h4>
                  <h6>さん</h6>
                </div>
              <% end %>
            <% end %>
          <% end %>

      </div>

    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <div>
        <%= link_to "https://twitter.com/share?url=#{request.url}/&text=GeekInstagramがすごい！/&hashtags=GeekSalon", title: 'Twitter', target: '_blank' do %>
          <h2><i class="fab fa-twitter"></i></h2>
        <% end %>
      </div>
      <div>Copen">yright © Andou Futa All Rights Reserved.</div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popen">per.js/1.14.7/umd/popen">per.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

</html>